body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 20px; 
}

.card {
    width: 400px;
    background-color: cornflowerblue;
    align-self: center;
    border-radius: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 300px;
    margin: auto;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    height: 200px;
}

.button {
    align-self: flex-end;
}