* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    background-color: gainsboro;
}

nav {
    position: fixed;
    width: 100%;
}

aside {
    float: left;
    position: fixed;
    width: 20%;
}

main {
    margin-left: 50px;
    width: 80%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}